.centerBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.textInput {
  color: white;
  &::placeholder {
    color: #e6e5ea;
    opacity: 0.5;
  }
}
